/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*------------------------------------*/
a {
  transition: 0.3s;
}
a:hover {
  color: #ffc74a;
}

.container {
  max-width: 1940px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.log {
  display: flex;
  align-items: center;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  margin-left: 40px;
  margin-top: 20px;
}

.logo__span {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  color: red;
  font-weight: bold;
  line-height: 3.1;
  text-align: center;
  margin-left: 17px;
  margin-top: 22px;
}

.nav__menu {
  display: flex;
  gap: 12px;
}

.nav__item {
  margin-right: 40px;
  padding-top: 25px;
}

.nav__link {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 5.2;
  text-align: center;
}

.search__img {
  padding-top: 40px;
}