/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*------------------------------------*/
a {
  transition: 0.3s ease;
}
a:hover {
  color: #ffc74a;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1940px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-left: 40px;
  margin-top: 20px;
  transition: 0.3s ease;
}
.logo__img:hover {
  transform: scale(1.2);
}

.logo__span {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 3.1;
  text-align: center;
  margin-left: 17px;
  margin-top: 22px;
}

.burger-btn {
  display: block;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 5;
  cursor: pointer;
}
.burger-btn span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}
.burger-btn span:first-child {
  top: 0;
}
.burger-btn span:last-child {
  top: auto;
  bottom: 0;
}
.burger-btn.active span {
  transform: scale(0);
}
.burger-btn.active span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.burger-btn.active span:last-child {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.burger-btn {
  display: none;
}

.nav__menu {
  display: flex;
  gap: 12px;
}

.nav__item {
  margin-right: 40px;
  padding-top: 25px;
  transition: 0.3s ease;
}
.nav__item:hover {
  transform: scale(1.2);
}

.nav__link {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 5.2;
  text-align: center;
  transition: 0.3s ease;
}
.nav__link:hover {
  transform: scale(1.6);
}

.search__img {
  padding-top: 40px;
}

.header__content {
  text-align: center;
  display: flex;
  justify-content: center;
}

.header__content {
  height: 1209px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.header__content::before {
  content: "";
  position: absolute;
  -webkit-backdrop-filter: brightness(25%);
          backdrop-filter: brightness(25%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 1;
}

.header__title {
  max-width: 600px;
  font-size: 92px;
  font-size: clamp(40px, 5.8vw, 92px);
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 1;
  position: absolute;
  top: 330px;
  z-index: 2;
}
.header__title span {
  color: #ed6950;
}

.suptitle {
  font-size: 18px;
  font-family: "Montserrat";
  line-height: 5.111;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 495px;
  z-index: 2;
}

.header__button {
  position: absolute;
  top: 602px;
  z-index: 1;
}

.button {
  background-color: #ffc74a;
  font-family: "Montserrat";
  font-weight: bold;
  border-radius: 35px;
  width: 232px;
  height: 51px;
  z-index: 1;
  transition: 0.3s ease;
}
.button:hover {
  transform: scale(1.1);
}

.header__txt {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 5.111;
  text-align: center;
  position: absolute;
  top: 890px;
  z-index: 1;
}

@media (max-width: 1315px) {
  .header__title {
    width: 500px;
  }
}
@media (max-width: 1088px) {
  .header__title {
    width: 400px;
  }
}
@media (max-width: 1020px) {
  .header__content {
    height: 1100px;
    background-position: -600px 0;
  }
  .header__title {
    width: 400px;
    line-height: 1.4;
    top: 220px;
  }
  .suptitle {
    font-size: 16px;
    top: 400px;
    z-index: 2;
  }
  .header__button {
    top: 552px;
  }
  .header__txt {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 5.111;
    text-align: center;
    position: absolute;
    top: 800px;
    z-index: 1;
  }
}
@media (max-width: 865px) {
  .header__title {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .burger-btn {
    display: block;
    right: 50px;
  }
  .menu-item {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    width: calc(100% - 20px);
    margin-left: 10px;
    height: 100vh;
    background-color: #cf0505;
    display: flex;
    transition: 0.3s ease;
    overflow: auto;
  }
  .menu-item.active {
    left: 0;
  }
  .nav__menu {
    padding: 30px;
    flex-direction: column;
    gap: 0;
    margin: auto;
  }
  .nav__link {
    display: block;
    font-size: 45px;
    line-height: 90px;
  }
  .nav__link:hover {
    transform: scale(1.1);
  }
  .search__img {
    display: none;
  }
}
@media (max-width: 575px) {
  .header__content {
    height: 900px;
    background-position: -500px 0;
  }
  .header__title {
    width: 300px;
    line-height: 1.5;
    top: 180px;
  }
  .suptitle {
    font-size: 14px;
    top: 330px;
  }
  .header__button {
    width: 200px;
    height: 45px;
    top: 480px;
  }
  .button {
    font-size: 14px;
  }
  .header__txt {
    font-size: 14px;
    top: 660px;
  }
}
@media (max-width: 480px) {
  .header__content {
    height: 850px;
    background-position: -500px 0;
  }
  .suptitle {
    top: 300px;
  }
  .header__button {
    top: 450px;
  }
  .header__txt {
    font-size: 14px;
    top: 620px;
  }
  .nav__link {
    font-size: 35px;
    line-height: 70px;
  }
}
@media (max-width: 400px) {
  .header__content {
    height: 770px;
    background-position: -550px 0;
  }
  .header__button {
    top: 410px;
    width: 180px;
    height: 40px;
  }
  .button {
    font-size: 12px;
  }
  .header__txt {
    font-size: 14px;
    top: 565px;
  }
}
@media (max-width: 359px) {
  .header__content {
    height: 700px;
  }
}
@media (max-width: 320px) {
  .logo__img {
    margin-left: 20px;
  }
  .header__content {
    height: 659px;
  }
}
.categories__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -217px;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}

.photo-1__img {
  padding-right: 5px;
}

.zakopane__img {
  padding-right: 5px;
}

.zakopane__title {
  font-size: 1.875rem;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 3.1;
  letter-spacing: -0.05rem;
  text-align: center;
  margin-top: -150px;
}

.zacopane__suptitle {
  font-size: 0.875rem;
  font-family: "Montserrat";
  color: rgb(255, 199, 74);
  line-height: 6.571;
  text-align: center;
  margin-top: -61px;
}

.sandomierz__img {
  padding-right: 5px;
}

.sandomierz__title {
  font-size: 3rem;
  font-family: "Montserrat";
  color: rgba(255, 255, 255, 0.902);
  font-weight: bold;
  line-height: 1.9;
  letter-spacing: -0.05rem;
  text-align: center;
  margin-top: -265px;
}

.sandomierz__suptitle {
  font-size: 0.875rem;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 6.571;
  text-align: center;
  margin-top: -48px;
}

.sandomierz__btn {
  font-size: 0.875rem;
  font-family: "Myriad Pro";
  color: rgb(185, 128, 0);
  line-height: 3.5;
  letter-spacing: 0.15rem;
  text-align: center;
  text-align: center;
  margin-top: 35px;
  margin-left: 50%;
  transform: translate(-50%);
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.sandomierz__btn:hover {
  transform: translate(-50%);
  background-color: rgb(150, 108, 10);
  color: rgba(255, 255, 255, 0.8);
}

.sandomierz__btn--m {
  background-color: rgb(255, 199, 74);
  width: 214px;
  height: 51px;
  z-index: 1;
}

.sopot__img {
  padding-right: 5px;
}

.sopot__title {
  font-size: 1.875rem;
  font-family: "Montserrat";
  color: rgba(255, 255, 255, 0.902);
  font-weight: bold;
  line-height: 3;
  text-align: center;
  margin-top: -150px;
}

.sopot__suptitle {
  font-size: 0.875rem;
  font-family: "Myriad Pro";
  color: rgb(255, 199, 74);
  line-height: 6.6;
  letter-spacing: 0.09rem;
  text-align: center;
  margin-top: -60px;
}

@media (max-width: 1842px) {
  .categories__row {
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
}
@media (max-width: 1201px) {
  .categories__row {
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 1160px) {
  .photo-2__img {
    margin-top: 30px;
  }
  .sandomierz__btn--m {
    width: 180px;
    height: 40px;
  }
  .sandomierz__btn {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}
@media (max-width: 791px) {
  .categories__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .sandomierz-block {
    margin-bottom: 85px;
    margin-top: 25px;
  }
  .sandomierz__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 385px) {
  .sandomierz__title {
    font-size: 2rem;
  }
  .sandomierz__btn--m {
    margin-top: 50px;
  }
  .sandomierz-block {
    margin-bottom: 70px;
  }
}