/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*------------------------------------*/
a {
  transition: 0.3s ease;
}
a:hover {
  color: #ffc74a;
}

.container {
  max-width: 1940px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-left: 40px;
  margin-top: 20px;
  transition: 0.3s ease;
}
.logo__img:hover {
  transform: scale(1.2);
}

.logo__span {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 3.1;
  text-align: center;
  margin-left: 17px;
  margin-top: 22px;
}

.nav__menu {
  display: flex;
  gap: 12px;
}

.nav__item {
  margin-right: 40px;
  padding-top: 25px;
  transition: 0.3s ease;
}
.nav__item:hover {
  transform: scale(1.2);
}

.nav__link {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 5.2;
  text-align: center;
  transition: 0.3s ease;
}
.nav__link:hover {
  transform: scale(1.6);
}

.search__img {
  padding-top: 40px;
}

.header__content {
  text-align: center;
  display: flex;
  justify-content: center;
}

.header__content {
  height: 1209px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.header__content::before {
  content: "";
  position: absolute;
  -webkit-backdrop-filter: brightness(25%);
          backdrop-filter: brightness(25%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 1;
}

.header__title {
  max-width: 600px;
  font-size: 92px;
  font-size: clamp(40px, 5.8vw, 92px);
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 1;
  position: absolute;
  top: 330px;
  z-index: 2;
}
.header__title span {
  color: #ed6950;
}

.suptitle {
  font-size: 18px;
  font-family: "Montserrat";
  line-height: 5.111;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 495px;
  z-index: 2;
}

.header__button {
  position: absolute;
  top: 602px;
  z-index: 1;
}

.button {
  background-color: #ffc74a;
  font-family: "Montserrat";
  font-weight: bold;
  border-radius: 35px;
  width: 232px;
  height: 51px;
  z-index: 1;
  transition: 0.3s ease;
}
.button:hover {
  transform: scale(1.1);
}

.header__txt {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 5.111;
  text-align: center;
  position: absolute;
  top: 890px;
  z-index: 1;
}

@media (max-width: 1315px) {
  .header__title {
    width: 500px;
  }
}
@media (max-width: 1088px) {
  .header__title {
    width: 400px;
  }
}
@media (max-width: 1020px) {
  .header__content {
    height: 1100px;
    background-position: -600px 0;
  }
  .header__title {
    width: 400px;
    line-height: 1.4;
    top: 220px;
  }
  .suptitle {
    font-size: 16px;
    top: 400px;
    z-index: 2;
  }
  .header__button {
    top: 552px;
  }
  .header__txt {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 5.111;
    text-align: center;
    position: absolute;
    top: 800px;
    z-index: 1;
  }
}
@media (max-width: 865px) {
  .header__title {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .menu-item {
    display: none;
  }
}
@media (max-width: 575px) {
  .header__content {
    height: 900px;
    background-position: -500px 0;
  }
  .header__title {
    width: 300px;
    line-height: 1.5;
    top: 180px;
  }
  .suptitle {
    font-size: 14px;
    top: 330px;
  }
  .header__button {
    width: 200px;
    height: 45px;
    top: 480px;
  }
  .button {
    font-size: 14px;
  }
  .header__txt {
    font-size: 14px;
    top: 660px;
  }
}
@media (max-width: 480px) {
  .header__content {
    height: 850px;
    background-position: -500px 0;
  }
  .suptitle {
    top: 300px;
  }
  .header__button {
    top: 450px;
  }
  .header__txt {
    font-size: 14px;
    top: 620px;
  }
}
@media (max-width: 400px) {
  .header__content {
    height: 770px;
    background-position: -550px 0;
  }
  .header__button {
    top: 410px;
    width: 180px;
    height: 40px;
  }
  .button {
    font-size: 12px;
  }
  .header__txt {
    font-size: 14px;
    top: 565px;
  }
}