@use "./zeroing.scss";

a {
  transition: .3s ease;

  &:hover {
    color: #ffc74a;
  }
}

$bg-btn: #ffc74a;
$col: $bg-btn;

//-------------- body ----------------

body {
  &.lock {
    overflow: hidden;
  }
}

//----------- CONTAINER --------------

.container {
  max-width: 1940px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

//------------ NAV -------------------

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-left: 40px;
  margin-top: 20px;
  transition: .3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.logo__span {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 3.1;
  text-align: center;
  margin-left: 17px;
  margin-top: 22px;
}

.burger-btn {
  display: block;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 5;
  cursor: pointer;

  span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: .3s;

    &:first-child {
      top: 0;
    }

    &:last-child {
      top: auto;
      bottom: 0;
    }
  }

  &.active {
    span {
      transform: scale(0);

      &:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }

      &:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
}

.burger-btn {
  display: none;
}

.nav__menu {
  display: flex;
  gap: 12px;
}

.nav__item {
  margin-right: 40px;
  padding-top: 25px;
  transition: .3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.nav__link {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 5.2;
  text-align: center;
  transition: .3s ease;

  &:hover {
    transform: scale(1.6);
  }
}

.search__img {
  padding-top: 40px;
}

//----------- HEADER ------------------

.header__content {
  text-align: center;
  display: flex;
  justify-content: center;
}

.header__content {
  height: 1209px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;


  &::before {
    content: '';
    position: absolute;
    backdrop-filter: brightness(25%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 1;
  }
}

.header__title {
  max-width: 600px;
  font-size: 92px;
  font-size: clamp(40px, 5.8vw, 92px);
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 1;
  position: absolute;
  top: 330px;
  z-index: 2;

  span {
    color: #ed6950;
  }
}

.suptitle {
  font-size: 18px;
  font-family: "Montserrat";
  line-height: 5.111;
  text-align: center;
  color: rgba(255, 255, 255, .4);
  position: absolute;
  top: 495px;
  z-index: 2;
}

.header__button {
  position: absolute;
  top: 602px;
  z-index: 1;
}

.button {
  background-color: $bg-btn;
  font-family: "Montserrat";
  font-weight: bold;
  border-radius: 35px;
  width: 232px;
  height: 51px;
  z-index: 1;
  transition: .3s ease;


  &:hover {
    transform: scale(1.1);
  }
}

.header__txt {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 5.111;
  text-align: center;
  position: absolute;
  top: 890px;
  z-index: 1;
}

@media (max-width: 1315px) {
  .header__title {
    width: 500px;
  }
}

@media (max-width: 1088px) {
  .header__title {
    width: 400px;
  }
}

@media (max-width: 1020px) {
  .header__content {
    height: 1100px;
    background-position: -600px 0;
  }

  .header__title {
    width: 400px;
    line-height: 1.4;
    top: 220px;
  }

  .suptitle {
    font-size: 16px;
    top: 400px;
    z-index: 2;
  }

  .header__button {
    top: 552px;
  }

  .header__txt {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 5.111;
    text-align: center;
    position: absolute;
    top: 800px;
    z-index: 1;
  }
}

@media (max-width: 865px) {
  .header__title {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .burger-btn {
    display: block;
    right: 50px;
  }

  .menu-item {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    width: calc(100% - 20px);
    margin-left: 10px;
    height: 100vh;
    background-color: #cf0505;
    display: flex;
    transition: .3s ease;
    overflow: auto;

    &.active {
      left: 0;
    }
  }

  .nav__menu {
    padding: 30px;
    flex-direction: column;
    gap: 0;
    margin: auto;
  }

  .nav__link {
    display: block;
    font-size: 45px;
    line-height: 90px;

    &:hover {
      transform: scale(1.1);
    }
  }

  .search__img {
    display: none;
  }
}

@media (max-width: 575px) {
  .header__content {
    height: 900px;
    background-position: -500px 0;
  }

  .header__title {
    width: 300px;
    line-height: 1.5;
    top: 180px;
  }

  .suptitle {
    font-size: 14px;
    top: 330px;
  }

  .header__button {
    width: 200px;
    height: 45px;
    top: 480px;
  }

  .button {
    font-size: 14px;
  }

  .header__txt {
    font-size: 14px;
    top: 660px;
  }
}

@media (max-width: 480px) {
  .header__content {
    height: 850px;
    background-position: -500px 0;
  }

  .suptitle {
    top: 300px;
  }

  .header__button {
    top: 450px;
  }

  .header__txt {
    font-size: 14px;
    top: 620px;
  }

  .nav__link {
    font-size: 35px;
    line-height: 70px;
  }
}

@media (max-width: 400px) {
  .header__content {
    height: 770px;
    background-position: -550px 0;
  }

  .header__button {
    top: 410px;
    width: 180px;
    height: 40px;
  }

  .button {
    font-size: 12px;
  }

  .header__txt {
    font-size: 14px;
    top: 565px;
  }
}

@media (max-width: 359px) {
  .header__content {
    height: 700px;
  }
}

@media (max-width: 320px) {
  .logo__img {
    margin-left: 20px;
  }

  .header__content {
    height: 659px;
  }
}

//----------- CATEGORIES ----------------------

.categories__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -217px;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;

}

.photo-1__img {
  padding-right: 5px;
}

.zakopane__img {
  padding-right: 5px;
}

.zakopane__title {
  font-size: 1.875rem;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 3.1;
  letter-spacing: -.05rem;
  text-align: center;
  margin-top: -150px;
}

.zacopane__suptitle {
  font-size: 0.875rem;
  font-family: "Montserrat";
  color: rgb(255, 199, 74);
  line-height: 6.571;
  text-align: center;
  margin-top: -61px;
}

.sandomierz__img {
  padding-right: 5px;
}

.sandomierz__title {
  font-size: 3rem;
  font-family: "Montserrat";
  color: rgba(255, 255, 255, 0.902);
  font-weight: bold;
  line-height: 1.9;
  letter-spacing: -.05rem;
  text-align: center;
  margin-top: -265px;
}

.sandomierz__suptitle {
  font-size: 0.875rem;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 6.571;
  text-align: center;
  margin-top: -48px;
}

.sandomierz__btn {
  font-size: 0.875rem;
  font-family: "Myriad Pro";
  color: rgb(185, 128, 0);
  line-height: 3.5;
  letter-spacing: .15rem;
  text-align: center;

  text-align: center;
  margin-top: 35px;
  margin-left: 50%;
  transform: translate(-50%);
  position: relative;
  z-index: 2;
  cursor: pointer;

  &:hover {
    transform: translate(-50%);
    background-color: rgb(150, 108, 10);
    color: rgba(255, 255, 255, .8);
  }
}

.sandomierz__btn--m {
  background-color: rgb(255, 199, 74);
  width: 214px;
  height: 51px;
  z-index: 1;
}

.sopot__img {
  padding-right: 5px;
}

.sopot__title {
  font-size: 1.875rem;
  font-family: "Montserrat";
  color: rgba(255, 255, 255, 0.902);
  font-weight: bold;
  line-height: 3;
  text-align: center;
  margin-top: -150px;
}

.sopot__suptitle {
  font-size: 0.875rem;
  font-family: "Myriad Pro";
  color: rgb(255, 199, 74);
  line-height: 6.6;
  letter-spacing: .09rem;
  text-align: center;
  margin-top: -60px;
}

@media (max-width: 1842px) {
  .categories__row {
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
}

@media (max-width: 1201px) {
  .categories__row {
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 1160px) {
  .photo-2__img {
    margin-top: 30px;
  }

  .sandomierz__btn--m {
    width: 180px;
    height: 40px;
  }

  .sandomierz__btn {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}

@media (max-width: 791px) {
  .categories__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }


  .sandomierz-block {
    margin-bottom: 85px;
    margin-top: 25px;
  }

  .sandomierz__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 385px) {
  .sandomierz__title {
    font-size: 2rem;
  }

  .sandomierz__btn--m {
    margin-top: 50px;
  }
        .sandomierz-block {
          margin-bottom: 70px;
}
}