@use "./zeroing.scss";

a {
  transition: .3s;

  &:hover {
    color: #ffc74a;
  }
}

$bg-btn: #ffc74a;

//----------- CONTAINER --------------

.container {
  max-width: 1940px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  //background-color: #ccc;
}

//------------ NAV -------------------

.nav {}

.log {
  display: flex;
  align-items: center;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  margin-left: 40px;
  margin-top: 20px;
}

.logo__span {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  color: red;
  font-weight: bold;
  line-height: 3.1;
  text-align: center;
  margin-left: 17px;
  margin-top: 22px;
}


.menu-item {}

.nav__menu {
  display: flex;
  gap: 12px;

}

.nav__item {
  margin-right: 40px;
  padding-top: 25px;
}

.nav__link {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 5.2;
  text-align: center;
}

.search__img {
  padding-top: 40px;
}