@use "./zeroing.scss";

a {
  transition: .3s ease;

  &:hover {
    color: #ffc74a;
  }
}

$bg-btn: #ffc74a;
$col: $bg-btn;

//-------------- body ----------------

body {
  &.lock {
    overflow: hidden;
  }
}

//----------- CONTAINER --------------

.container {
  max-width: 1940px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

//------------ NAV -------------------

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-left: 40px;
  margin-top: 20px;
  transition: .3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.logo__span {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 3.1;
  text-align: center;
  margin-left: 17px;
  margin-top: 22px;
}

.burger-btn {
  display: block;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 5;
  cursor: pointer;

  span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: .3s;

    &:first-child {
      top: 0;
    }

    &:last-child {
      top: auto;
      bottom: 0;
    }
  }

  &.active {
    span {
      transform: scale(0);

      &:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }

      &:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
}

.burger-btn {
  display: none;
}

.nav__menu {
  display: flex;
  gap: 12px;
}

.nav__item {
  margin-right: 40px;
  padding-top: 25px;
  transition: .3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.nav__link {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 5.2;
  text-align: center;
  transition: .3s ease;

  &:hover {
    transform: scale(1.6);
  }
}

.search__img {
  padding-top: 40px;

}

//----------- HEADER ------------------

.header__content {
  text-align: center;
  display: flex;
  justify-content: center;
}

.header__content {
  height: 1209px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;


  &::before {
    content: '';
    position: absolute;
    backdrop-filter: brightness(25%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 1;
  }
}

.header__title {
  max-width: 600px;
  font-size: 92px;
  font-size: clamp(40px, 5.8vw, 92px);
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 1;
  position: absolute;
  top: 330px;
  z-index: 1;

  span {
    color: #ed6950;
  }
}

.suptitle {
  font-size: 18px;
  font-family: "Montserrat";
  line-height: 5.111;
  text-align: center;
  color: rgba(255, 255, 255, .4);
  position: absolute;
  top: 495px;
  z-index: 2;
}

.header__button {
  width: 232px;
  height: 51px;
  position: absolute;
  top: 602px;
  z-index: 1;
}

.button {
  background-color: $bg-btn;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(185, 128, 0);
  font-weight: bold;
  text-align: center;
  border-radius: 35px;
  transition: .3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    background-color: rgb(130, 63, 218);
    color: rgba(255, 255, 255, .8);
  }
}

.header__txt {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 5.111;
  text-align: center;
  position: absolute;
  top: 890px;
  z-index: 1;
}

@media (max-width: 1315px) {
  .header__title {
    width: 500px;
  }
}

@media (max-width: 1088px) {
  .header__title {
    width: 400px;
  }
}

@media (max-width: 1020px) {
  .header__content {
    height: 1100px;
    background-position: -600px 0;
  }

  .header__title {
    width: 400px;
    line-height: 1.4;
    top: 220px;
  }

  .suptitle {
    font-size: 16px;
    top: 400px;
    z-index: 2;
  }

  .header__button {
    top: 552px;
  }

  .header__txt {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 5.111;
    text-align: center;
    position: absolute;
    top: 800px;
    z-index: 1;
  }
}

@media (max-width: 865px) {
  .header__title {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .burger-btn {
    display: block;
    right: 50px;
  }

  .menu-item {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    width: calc(100% - 20px);
    margin-left: 10px;
    height: 100vh;
    background-color: #cf0505;
    display: flex;
    transition: .3s ease;
    overflow: auto;

    &.active {
      left: 0;
    }
  }

  .nav__menu {
    padding: 30px;
    flex-direction: column;
    gap: 0;
    margin: auto;
  }

  .nav__link {
    display: block;
    font-size: 45px;
    line-height: 90px;

    &:hover {
      transform: scale(1.1);
    }
  }

  .search__img {
    display: none;
  }
}

@media (max-width: 575px) {
  .header__content {
    height: 900px;
    background-position: -500px 0;
  }

  .header__title {
    width: 300px;
    line-height: 1.5;
    top: 180px;
  }

  .suptitle {
    font-size: 14px;
    top: 330px;
  }

  .header__button {
    width: 200px;
    height: 45px;
    top: 480px;
  }

  .button {
    font-size: 14px;
  }

  .header__txt {
    font-size: 14px;
    top: 660px;
  }
}

@media (max-width: 480px) {
  .header__content {
    height: 850px;
    background-position: -500px 0;
  }

  .suptitle {
    top: 300px;
  }

  .header__button {
    top: 450px;
  }

  .header__txt {
    font-size: 14px;
    top: 620px;
  }

  .nav__link {
    font-size: 35px;
    line-height: 70px;
  }
}

@media (max-width: 400px) {
  .header__content {
    height: 770px;
    background-position: -550px 0;
  }

  .header__button {
    top: 410px;
    width: 180px;
    height: 40px;
  }

  .button {
    font-size: 12px;
  }

  .header__txt {
    font-size: 14px;
    top: 565px;
  }
}

@media (max-width: 359px) {
  .header__content {
    height: 700px;
  }
}

@media (max-width: 320px) {
  .logo__img {
    margin-left: 20px;
  }

  .header__content {
    height: 659px;
  }
}

//----------- CATEGORIES ----------------------

.categories__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -217px;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;

}

.photo-1__img {
  padding-right: 5px;
}

.zakopane__img {
  padding-right: 5px;
}

.zakopane__title {
  font-size: 1.875rem;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 3.1;
  letter-spacing: -.05rem;
  text-align: center;
  margin-top: -150px;
}

.zacopane__suptitle {
  font-size: 0.875rem;
  font-family: "Montserrat";
  color: rgb(255, 199, 74);
  line-height: 6.571;
  text-align: center;
  margin-top: -61px;
}

.sandomierz__img {
  padding-right: 5px;
}

.sandomierz__title {
  font-size: 3rem;
  font-family: "Montserrat";
  color: rgba(255, 255, 255, 0.902);
  font-weight: bold;
  line-height: 1.9;
  letter-spacing: -.05rem;
  text-align: center;
  margin-top: -265px;
}

.sandomierz__suptitle {
  font-size: 0.875rem;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 6.571;
  text-align: center;
  margin-top: -48px;
}

.sandomierz__button {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(185, 128, 0);
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  margin-top: 35px;
  margin-left: 50%;
  transform: translate(-50%);
  width: 214px;
  height: 51px;
  border-radius: 35px;

  &:hover {
    transform: translate(-50%);
    background-color: rgb(150, 108, 10);
    color: rgba(255, 255, 255, .8);
  }
}

.sopot__img {
  padding-right: 5px;
}

.sopot__title {
  font-size: 1.875rem;
  font-family: "Montserrat";
  color: rgba(255, 255, 255, 0.902);
  font-weight: bold;
  line-height: 3;
  text-align: center;
  margin-top: -150px;
}

.sopot__suptitle {
  font-size: 0.875rem;
  font-family: "Myriad Pro";
  color: rgb(255, 199, 74);
  line-height: 6.6;
  letter-spacing: .09rem;
  text-align: center;
  margin-top: -60px;
}

@media (max-width: 1842px) {
  .categories__row {
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
}

@media (max-width: 1201px) {
  .categories__row {
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 1160px) {
  .photo-2__img {
    margin-top: 30px;
  }

  .sandomierz__btn--m {
    width: 180px;
    height: 40px;
  }

  .sandomierz__btn {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}

@media (max-width: 791px) {
  .categories__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }


  .sandomierz-block {
    margin-bottom: 85px;
    margin-top: 25px;
  }

  .sandomierz__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 385px) {
  .sandomierz__title {
    font-size: 2rem;
  }

  .sandomierz__btn--m {
    margin-top: 50px;
  }

  .sandomierz-block {
    margin-bottom: 70px;
  }
}

//----------- CHOICE -----------------

.choice__title {
  font-size: clamp(20px, 7vw, 30px);
  font-family: "Montserrat";
  color: rgb(96, 111, 129);
  font-weight: bold;
  line-height: 2.7;
  text-align: center;
}

.input-form {
  display: flex;
  align-items: center;
  position: relative;
}

.choice__input {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 85px 0px rgb(141, 148, 169);
  width: 41.55vw;
  height: 59px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 30px;
  border-radius: 35px;
  padding: 0px 120px 0px 47px;

  &::placeholder {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgba(96, 111, 129, 0.6);
  }
}

.input__search {
  position: absolute;
  top: 51px;
  right: 31vw;
  z-index: 1;
}

.choice-label {
  width: 41.55vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 15px;
}

.choice-label__left {
  margin-top: 11px;
  margin-left: 15px;
  display: flex;
  gap: 4px;
}

.label__journey {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  background-color: rgb(255, 199, 74);
  width: 87px;
  height: 27px;
  border-radius: 50px;
  margin-left: 6px;
  margin-top: -7px;
  padding: 5px 0px 5px 0px;
}

.label__travelers {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  background-color: rgb(189, 200, 217);
  width: 87px;
  height: 27px;
  border-radius: 50px;
  margin-left: 6px;
  margin-top: -7px;
  padding: 5px 0px 5px 0px;
}

.label__guide {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  background-color: rgb(189, 200, 217);
  width: 60px;
  height: 27px;
  border-radius: 50px;
  margin-left: 6px;
  margin-top: -7px;
  padding: 4px 0px 5px 0px;
}

.choice-label__right {
  margin-top: 2px;
  margin-right: 30px;
  display: flex;
  gap: 11px;
}

.label__mazury {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(141, 151, 165);
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(189, 200, 217);
  background-color: rgba(189, 200, 217, 0);
  border-radius: 50px;
  opacity: 0.302;
  width: 78px;
  height: 32px;
  padding: 5px 0px 5px 0px;
}

.label__cracow {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(141, 151, 165);
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(189, 200, 217);
  background-color: rgba(189, 200, 217, 0);
  border-radius: 50px;
  opacity: 0.302;
  width: 78px;
  height: 32px;
  padding: 5px 0px 5px 0px;
}

.label__zakopane {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(141, 151, 165);
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(189, 200, 217);
  background-color: rgba(189, 200, 217, 0);
  border-radius: 50px;
  opacity: 0.302;
  width: 78px;
  height: 32px;
  padding: 5px 0px 5px 0px;
}

.content-inner__row {
  max-width: 1170px;
  width: 100%;
  height: 760px;
  margin: 0 auto;
  margin-top: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.inner__column {
  position: relative;
  margin-right: 10px;

  &:not(:last-child):after {
    margin-right: 10px;
  }
}

.column__box {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 85px 0px rgb(141, 148, 169);

  width: 371px;
  height: 350px;
}

.column__photo {
  width: 351px;
  height: 169px;

  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.column__title {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(96, 111, 129);
  text-align: center;

  position: absolute;
  top: 191px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.column__suptitle {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgba(96, 111, 129, 0.6);
  text-align: center;

  position: absolute;
  top: 227px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.column__btn {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(189, 200, 217);
  font-weight: bold;
  text-align: center;

  position: absolute;
  top: 271px;
  left: 106px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;

  background-color: rgba(237, 105, 80, 0);
  box-shadow: 0px 0px 54px 0px rgb(141, 148, 169);
  width: 164px;
  height: 39px;

  &:hover {
    transform: translate(-50%);
  }

}

.column__title-5,
.column__title-6 {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(96, 111, 129);
  text-align: center;
}

.column__title-5 {
  width: 300px;
  position: absolute;
  top: 191px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;

  &:hover {
    transform: translate(-50%);
  }
}

.column__title-6 {
  position: absolute;
  top: 191px;
  //left: 150px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;

  &:hover {
    transform: translate(-50%);
  }
}

.column__btn--m {
  background-color: #ffc74a;
  color: rgb(185, 128, 0);
}

@media (max-width: 1940px) {
  .choice__input {
    padding: 0px 120px 0px 30px;
  }

  .choice-label__left {
    margin-left: -10px;
  }

  .choice-label__right {
    margin-right: 10px;
  }
}

@media (max-width: 1440px) {
  .choice__input {
    box-shadow: 0px 0px 65px 0px rgb(141, 148, 169);
    width: 41.55vw;
    height: 49px;
  }

  .input__search {
    top: 42px;
  }

  .choice-label {
    width: 41.55vw;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 1200px) {
  .choice__input {
    box-shadow: 0px 0px 50px 0px rgb(141, 148, 169);
    height: 45px;
    padding: 0px 120px 0px 30px;

    &::placeholder {
      font-size: 16px;
    }
  }

  .input__search {
    top: 45px;
  }
}

@media (max-width: 1142px) {
  .content-inner__row {
    max-width: 1170px;
    width: 100%;
    height: 760px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 1020px) {
  .input__search {
    position: absolute;
    top: 42px;
    right: 31vw;
    z-index: 1;
  }
}

@media (max-width: 990px) {
  .input__search {
    top: 45px;
  }
}

@media (max-width: 768px) {
  .choice__input {
    box-shadow: 0px 0px 40px 0px rgb(141, 148, 169);
    height: 38px;
    width: 85vw;
  }

  .input__search {
    right: 28vw;
  }
}

@media (max-width: 575px) {
  .input__search {
    right: 25vw;
  }
}

@media (max-width: 812px) {
  .choice__input {
    height: 36px;
  }

  .input__search {
    width: 1.5%;
    top: 42px;
  }
}

@media (max-width: 768px) {
  .input__search {
    width: 1.9%;
    top: 40px;
  }
}

@media (max-width: 575px) {
  .choice__input {
    padding: 0px 120px 0px 25px;

    &::placeholder {
      font-size: 15px;
    }
  }

  .input__search {
    width: 2.7%;
    top: 41px;
  }
}

@media (max-width: 480px) {
  .input__search {
    right: 19vw;
  }

  .inner__column {
    margin-left: 15px;
  }
}

@media (max-width: 388px) {

  .inner__column {
    margin-left: 10px;
  }
}

@media (max-width: 320px) {
  .choice__input {
    width: 80vw;
    height: 30px;
  }

  .input__search {
    width: 4%;
    top: 39px;
    right: 18vw;
  }

  .column__title,
  .column__title-6 {
    font-size: 25px;
    left: 50%;
    transform: translate(-50%);
  }

  .column__title-5 {
    width: 300px;
    font-size: 25px;
    left: 50%;
    transform: translate(-50%);
  }

  .column__photo {
    padding: 0 10px;
    padding-top: 10px;
  }

  .inner__column {
    margin-left: 13px;
  }
}

//------------- EXPLORE-CITY ---------------------

.explore-city {
  margin-top: -13px;
}

.explore-city__content {
  height: 890px;
  background-image: url('./../images/explore-city/02.png');
  background-repeat: no-repeat;
  background-position: 1010px -60px;
  background-position: 50vw -60px;
  position: relative;
  overflow: hidden;
}

.explore-city__title {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(96, 111, 129);
  font-weight: bold;
  line-height: 5.7;
  text-align: center;
}

.explore-city__row {
  display: flex;
}

.column-info__title {
  font-size: 36px;
  font-family: "Montserrat";
  color: rgb(248, 199, 89);
  font-weight: bold;
  text-align: left;
  margin-top: 42px;
  margin-left: 370px;
}

.info__text {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(96, 111, 129);
  line-height: 2.15;
  letter-spacing: .04rem;
  text-align: left;
  width: 562px;
  width: 540px;
  margin-top: 38px;
  margin-left: 375px;
}

.info__text-1 {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(96, 111, 129);
  line-height: 2.15;
  letter-spacing: .05rem;
  text-align: left;
  width: 562px;
  width: 560px;
  margin-top: 30px;
  margin-left: 375px;
}

.column-info__button {
  background-color: rgb(255, 199, 74);
  width: 214px;
  height: 51px;
  margin-left: 375px;
  margin-top: 55px;
}

.column-img {
  max-width: 623px;
  width: 100%;
  margin-left: 41px;
  margin-top: 2px;
}

@media (max-width: 1940px) {
  .explore-city {
    margin-top: -31px;
  }

  .explore-city__content {
    height: 870px;

  }

  .info__text {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(96, 111, 129);
    line-height: 2.14;
    letter-spacing: .01rem;

    text-align: left;
    width: 552px;
    margin-top: 38px;
    margin-left: 375px;
  }

  .info__text-1 {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(96, 111, 129);
    line-height: 2.14;
    letter-spacing: .01rem;
    text-align: left;
    width: 552px;
    margin-top: 30px;
    margin-left: 375px;
  }

  .column-img {
    flex: 50%;
    margin-left: 47px;
    margin-top: 3px;
  }
}

@media (max-width: 1617px) {
  .explore-city__content {
    height: auto;
  }

  .explore-city__title {
    margin-left: -50px;
  }

  .explore-city__row {
    flex-direction: column;
    align-items: center;
  }

  .column-info__title {
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: -20px;
  }

  .info__text {
    margin-left: 50%;
    transform: translate(-50%);
    font-size: 18px;
  }

  .info__text-1 {
    margin-left: 50%;
    transform: translate(-50%);
    font-size: 18px;
  }

  .column-info__button {
    margin-left: 145px;
    margin-bottom: 50px;
  }

  .column-img {
    margin-left: -20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .column-img {
    margin-left: 20px;
    padding: -10px;
  }
}

@media (max-width: 575px) {
  .explore-city__title {
    margin-top: -5px;
    font-size: 28px;
  }

  .column-info__title {
    font-size: 30px;
    margin-top: -30px;
  }

  .info__text {
    font-size: 16px;
    width: 500px;
    padding: 0 20px;
  }

  .info__text-1 {
    font-size: 16px;
    width: 500px;
    padding: 0 20px;
  }

  .column-img {
    width: 423px;
  }
}

@media (max-width: 480px) {
  .explore-city__content {
    height: auto;
  }

  .explore-city {
    margin-top: 0px;
  }

  .explore-city__title {
    margin-top: -5px;
    font-size: 28px;
    margin-left: -25px;
  }

  .column-info__title {
    font-size: 30px;
    margin-top: -35px;
  }

  .info__text {
    font-size: 16px;
    line-height: 2;
    width: 450px;
    padding: 0 20px;

  }

  .info__text-1 {
    font-size: 16px;
    line-height: 2;
    width: 450px;
    padding: 0 20px;
    margin-top: 20px;
  }

  .column-info__button {
    margin-left: 100px;
    margin-bottom: 40px;
  }

  .column-img {
    width: 380px;
  }
}

@media (max-width: 436px) {
  .explore-city__title {
    margin-top: -30px;
    margin-left: -15px;
  }

  .column-info__title {
    margin-top: -40px;
    padding-left: 15px;
  }

  .info__text {
    font-size: 15px;
    width: 400px;
    padding: 0 20px;

  }

  .info__text-1 {
    font-size: 15px;
    width: 400px;
    padding: 0 20px;
  }

  .column-info__button {
    margin-left: 100px;
    margin-bottom: 30px;
    width: 200px;
    height: 45px;
    font-size: 12px;
  }

  .column-img {
    width: 320px;
    padding: 0 10px;
  }
}

@media (max-width: 394px) {
  .explore-city__content {
    height: auto;
  }

  .column-info__title {
    margin-left: 170px;
  }

  .info__text {
    font-size: 14px;
    width: 350px;
    padding: 0 20px;
  }

  .info__text-1 {
    font-size: 14px;
    width: 350px;
    padding: 0 20px;
  }

  .column-info__button {
    margin-top: 25px;
    margin-left: 90px;
  }
}

@media (max-width: 320px) {
  .column-info__title {
    margin-left: 180px;
  }

  .info__text {
    width: 300px;
  }

  .info__text-1 {
    width: 300px;
  }

  .column-info__button {
    margin-left: 100px;
  }

  .column-img {
    margin-left: 5px;
    width: 280px;
  }
}